
/* font family */
$poppins: 'Poppins', sans-serif;
$inter: 'Inter', sans-serif;
$times: 'Times New Roman', serif;
$garamond: 'EB Garamond', serif;

/* font-size */
$fs: 16px;


// ===== COLORS ===== 
$blue: #63B8BD;
$white: #fff;
$black: #000;
$dark: #2F3237;